body {
    background-color:coral;
    text-align: center;
}
    h1 { 
   color: white;
}
nav a {
    color:blue ;
}
h1 {
    
}

.m {
  background-color: rgb(27, 27, 27);
  
}
.ms{
    background-color: brown; 
    
}
.p1{
    color: rgb(0, 0, 136);
}
#i {
    margin-inline: 830px;
}